body {
  background-color: LemonChiffon;
  color: LightSlateGray;
  font-family: Arial, Helvetica, monospace;
}

header {
  text-align: center;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em
}

.action {
  font-style: italic;
}
#LovellHouse {width: 200%;}

p {
  padding: 10px;
  border: 4px dashed green;
  margin: 20px;
  background-color: LightCyan;
}
img {
  margin: 0 auto;
  width: 300px;
  align: center;
}
